﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DGMain.master.cs" Inherits="DG.WebUI.DGMain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title> Chief Minister's Office </title>
    <link href="Styles/StyleSheetMain.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-image: url(Images/blgr015.gif)">
    <form id="form1" runat="server">

    <div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
    
        <div class = "Logo">
            <img src="Images/new%20ban3-1.jpg" alt=""/>
            
        </div>
                </td>
            </tr>
    
    <!--            <tr>
                   <td align="right" >
                       <asp:Label ID="lblLogin" runat="server" Font-Size = "Small" ForeColor = "#000000" Text=""></asp:Label>
                       <asp:LoginStatus ID="LoginStatus1" Font-Bold = "true" Font-Size ="Small" ForeColor = "#066110" runat="server" />
                   </td>
                </tr> -->

                <tr>
                <td>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                
        </td>
        </tr>
        </table>                
               
    
    </div>
    </form>
</body>
</html>
