﻿<%@ Page Title="" Language="C#" MasterPageFile="~/DGMain.Master" AutoEventWireup="true" CodeBehind="DivWebForm.aspx.cs" Inherits="DG.WebUI.DivWebForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script language="javascript" type="text/javascript">
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <link href="Styles/DGMenuStyleSheet.css" rel="stylesheet" type="text/css" />
    
    <div id="maindiv">
        <table id="maintable" width="1200px">
            <tr>
                <td>
                    <asp:ImageButton ID="btnLogout" runat="server" align="right" 
                        ImageUrl="~/Images/logout.png" onclick="btnLogout_Click1" /> 
                    <!--<img id="mainimg" src="Images/logoutbtn.png" width="70px" height="70px" class="pos_fixed" onclick="return mainimg_onclick()" /> -->
                    <!--<asp:Image ID="Image1" runat="server" ImageAlign="Right" Width="150px" 
        Height="250px" ImageUrl="~/Images/clock.png" CssClass="pos_fixed"/>-->
                </td>
            </tr>
        </table>
    </div>

</asp:Content>
