﻿body 
{
    
}

.menuBoundry
{ 
    width: 1278px;
    height: 25px;
    background-color:#3399FF; 
}


.login
{
    vertical-align: middle;
}


.menuBar
{
    border-style: solid;
    border-width: 0px;
    width: 1278px;
    height: 10px;
    background-color: #00CC99;
    margin-top: 2px;
}
    
.menuStyle
{
    background-color: #FF9900;
    vertical-align: middle;
}

.menuStaticItemStyle
{
    font-family: Tahoma;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    line-height:30px;
    margin-right: 50px;
}

.menuDynamicItemStyle
{
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    width: 210px;
    background-color: #FFFFFF;
    /*margin-bottom: 1px;*/
}
